* {
    margin: 0; padding: 0; box-sizing: border-box; list-style: none; text-decoration: none; background-repeat: no-repeat;
}

.dmgbu {position: absolute;}


.pqqyz {bottom: 0}


.ibetz {width: 100%;}


.vqjbh {height: fit-content;}

.fkzyr {height: 100%;}

.godtw {height: 25%;}

.yahjl {height: 100vh;}


.msumg {display: inline-block;}

.nbswh {display: flex;}


.fvedp {justify-content: center;}


.vhkum {align-items: center;}


.zcyft {background-image: url('../images/pexels-albinberlin-919073.jpg')}

.uwphd {background-size: cover;}

.irhjb {background: transparent;}

.agjbl {background-color: black;}

.ptdbo {background-color: white;}

.qgwms {color: white;}


.kczrn {border-width: 1px;}

.romto {border-color: white;}


